openapi: 3.0.3
info:
  title: Talkable Advocate Offers Unsubscribe API
  version: '2.0'
  contact:
    name: API Reference
    url: https://docs.talkable.com/api_v2/
servers:
- url: https://www.talkable.com
security:
- api_key: []
tags:
- name: Unsubscribe
paths:
  /your_api_unsubscribe_web_hook_path:
    post:
      summary: Unsubscribe
      tags:
      - Unsubscribe
      parameters: []
      operationId: unsubscribe
      responses:
        '200':
          description: Talkable considers a Webhook as "delivered successfully" when a site server returns a 2xx response status. Otherwise Talkable will continually retry to deliver a Webhook after a set interval of time.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Talkable security key
                site:
                  $ref: ../schemas.yaml#/site_slug
                type:
                  type: string
                  example: unsubscribe_web_hook
                extras:
                  type: object
                  example: {}
                payload:
                  type: object
                  properties:
                    person:
                      $ref: '#components/schemas/person'
components:
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      description: Please provide here your API key, you can find it in Site Settings -> API Integration -> API Key
